################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Catharsium.Trello
/Catharsium.Trello.Core/obj
/Catharsium.Trello.Core.Tests/obj
/Catharsium.Trello.Models/obj
/Catharsium.Trello.Console/bin
/Catharsium.Trello.Console/obj
/Catharsium.Trello.Core/bin
/Catharsium.Trello.Core.Tests/bin
/Catharsium.Trello.Models/bin
/Catharsium.Trello.Models.Tests/bin
/Catharsium.Trello.Models.Tests/obj
/Catharsium.Trello.Console.Tests/bin
/Catharsium.Trello.Console.Tests/obj
/Catharsium.Trello.Core/bin
/Catharsium.Trello.Data/bin
/Catharsium.Trello.Data/obj
/Catharsium.Trello.Data.Tests/bin
/Catharsium.Trello.Data.Tests/obj
/Catharsium.Trello.Api/obj
/Catharsium.Trello.Api.Tests/obj
/Plugins/Catharsium.Trello.Plugins.WeeklyGoals/bin
/Plugins/Catharsium.Trello.Plugins.WeeklyGoals/obj
/Plugins/Catharsium.Trello.Plugins.WeeklyGoals.Tests/bin
/Plugins/Catharsium.Trello.Plugins.WeeklyGoals.Tests/obj
/Catharsium.Trello.Api/bin/Debug/netstandard2.0
/Catharsium.Trello.Api.Tests/bin/Debug/netcoreapp3.1
/Plugins/Catharsium.Trello.Plugins.Groceries/obj
/Plugins/Catharsium.Trello.Plugins.Groceries/bin
/Plugins/Catharsium.Trello.Plugins.Groceries.Tests/bin
/Plugins/Catharsium.Trello.Plugins.Groceries.Tests/obj
/Plugins/Catharsium.Trello.Plugins.CalendarSync/bin/Debug/netstandard2.0
/Plugins/Catharsium.Trello.Plugins.CalendarSync/obj
/Plugins/Catharsium.Trello.Plugins.CalendarSync.Tests/bin/Debug/netcoreapp3.1
/Plugins/Catharsium.Trello.Plugins.CalendarSync.Tests/obj
/Plugins/Catharsium.Trello.Plugins.CalendarSync/bin/Debug
/Catharsium.Trello.Api/bin/Release/netstandard2.0
/Catharsium.Trello.Api.Tests/bin
/Plugins/Catharsium.Trello.Plugins.CalendarSync/bin/Release/net5.0
/Plugins/Catharsium.Trello.Plugins.CalendarSync.Tests/bin
/Catharsium.Trello.Api.Tests/bin/Debug/net5.0
/Plugins/Catharsium.Trello.Plugins.CalendarSync.Tests/bin/Debug/net5.0
/Plugins/Catharsium.Trello.Plugins.CalendarSync/bin/Release/net5.0
/Plugins/Catharsium.Trello.Plugins.CalendarSync.Tests/bin/Release/net5.0
