################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Catharsium.Trello
/Catharsium.Trello.Core/obj
/Catharsium.Trello.Core.Tests/obj
/Catharsium.Trello.Models/obj
