################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Catharsium.Trello
/Catharsium.Trello.Core/obj
/Catharsium.Trello.Core.Tests/obj
/Catharsium.Trello.Models/obj
/Catharsium.Trello.Console/bin/Debug/netcoreapp3.0
/Catharsium.Trello.Console/obj
/Catharsium.Trello.Core/bin/Debug/netstandard2.0
/Catharsium.Trello.Core.Tests/bin/Debug/netcoreapp3.0
/Catharsium.Trello.Models/bin/Debug/netstandard2.0
/Catharsium.Trello.Models.Tests/bin/Debug/netcoreapp3.0
/Catharsium.Trello.Models.Tests/obj
/Catharsium.Trello.Console.Tests/bin/Debug/netcoreapp3.1
/Catharsium.Trello.Console.Tests/obj
/Catharsium.Trello.Core/bin/Debug/netstandard2.1
/Catharsium.Trello.Data/bin/Debug/netstandard2.0
/Catharsium.Trello.Data/obj
/Catharsium.Trello.Data.Tests/bin/Debug/netcoreapp3.1
/Catharsium.Trello.Data.Tests/obj
